<div>
    <h2 id="page-heading">
        <span>Processus SMIS</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-processus-smi" [routerLink]="['/processus-smi/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down">
            Créer un nouveau Processus SMI
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="processusSMIS?.length === 0">
        <span>Aucun processusSMIS found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="processusSMIS && processusSMIS.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="processus"><span>Processus</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="date"><span>Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="version"><span>Version</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="finalite"><span>Finalite</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ficheProcessus"><span>Fiche Processus</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="type"><span>Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="vigueur"><span>Vigueur</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="pilote.id"><span>Pilote</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="audit.id"><span>Audit</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let processusSMI of processusSMIS ;trackBy: trackId">
                    <td><a [routerLink]="['/processus-smi', processusSMI.id, 'view']">{{ processusSMI.id }}</a></td>
                    <td>{{ processusSMI.processus }}</td>
                    <td>{{ processusSMI.date | date:'mediumDate' }}</td>
                    <td>{{ processusSMI.version }}</td>
                    <td>{{ processusSMI.finalite }}</td>
                    <td>
                        <a *ngIf="processusSMI.ficheProcessus" (click)="openFile(processusSMI.ficheProcessusContentType, processusSMI.ficheProcessus)">open</a>
                        <span *ngIf="processusSMI.ficheProcessus">{{ processusSMI.ficheProcessusContentType }}, {{ byteSize(processusSMI.ficheProcessus) }}</span>
                    </td>
                    <td>{{ processusSMI.type }}</td>
                    <td>{{ processusSMI.vigueur }}</td>
                    <td>
                        {{ processusSMI.pilote?.login }}
                    </td>
                    <td>
                        <div *ngIf="processusSMI.audit">
                            <a [routerLink]="['/audit', processusSMI.audit?.id, 'view']" >{{ processusSMI.audit?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/processus-smi', processusSMI.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/processus-smi', processusSMI.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(processusSMI)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="processusSMIS && processusSMIS.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
