<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-resultat-indicateur-heading">Créer ou mettre à jour Resultat Indicateur</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_mois">Mois</label>
                    <select required class="form-control" name="mois" formControlName="mois" id="field_mois">
                        <option value="JAN">JAN</option>
                        <option value="FEV">FEV</option>
                        <option value="MAR">MAR</option>
                        <option value="AVR">AVR</option>
                        <option value="MAI">MAI</option>
                        <option value="JUN">JUN</option>
                        <option value="JUL">JUL</option>
                        <option value="AUT">AUT</option>
                        <option value="SEP">SEP</option>
                        <option value="OCT">OCT</option>
                        <option value="NOV">NOV</option>
                        <option value="DEC">DEC</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_cible">Cible</label>
                    <input required type="number" class="form-control" name="cible" id="field_cible"
                           formControlName="cible"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_resultat">Resultat</label>
                    <input required type="number" class="form-control" name="resultat" id="field_resultat"
                           formControlName="resultat"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_indicateur">Indicateur</label>
                    <input required type="text" class="form-control" name="indicateur" id="field_indicateur"
                           formControlName="indicateur"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Annuler</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
