<div>
    <h2 id="page-heading">
        <span>Besoin PIS</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-besoin-pi" [routerLink]="['/besoin-pi/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down">
            Create a new Besoin PI
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="besoinPIS?.length === 0">
        <span>No besoinPIS found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="besoinPIS && besoinPIS.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="processus"><span>Processus</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateIdentification"><span>Date Identification</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="piPertinentes"><span>Pi Pertinentes</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="pertinente"><span>Pertinente</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="priseEnCharge"><span>Prise En Charge</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="afficher"><span>Afficher</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let besoinPI of besoinPIS ;trackBy: trackId">
                    <td><a [routerLink]="['/besoin-pi', besoinPI.id, 'view']">{{ besoinPI.id }}</a></td>
                    <td>{{ besoinPI.processus }}</td>
                    <td>{{ besoinPI.dateIdentification | date:'mediumDate' }}</td>
                    <td>{{ besoinPI.piPertinentes }}</td>
                    <td>{{ besoinPI.pertinente }}</td>
                    <td>{{ besoinPI.priseEnCharge }}</td>
                    <td>{{ besoinPI.afficher }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/besoin-pi', besoinPI.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/besoin-pi', besoinPI.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(besoinPI)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="besoinPIS && besoinPIS.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
