<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-besoin-pi-heading">Créer ou mettre à jour Besoin PI</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_processus">Processus</label>
                    <input type="text" class="form-control" name="processus" id="field_processus"
                           formControlName="processus"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_dateIdentification">Date Identification</label>
                    <div class="input-group">
                        <input id="field_dateIdentification" type="text" class="form-control" name="dateIdentification" ngbDatepicker #dateIdentificationDp="ngbDatepicker" formControlName="dateIdentification"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateIdentificationDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_piPertinentes">Pi Pertinentes</label>
                    <input type="text" class="form-control" name="piPertinentes" id="field_piPertinentes"
                           formControlName="piPertinentes"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_pertinente">Pertinente</label>
                    <input type="checkbox" class="form-control" name="pertinente" id="field_pertinente"
                           formControlName="pertinente"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_priseEnCharge">Prise En Charge</label>
                    <input type="checkbox" class="form-control" name="priseEnCharge" id="field_priseEnCharge"
                           formControlName="priseEnCharge"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_afficher">Afficher</label>
                    <input type="checkbox" class="form-control" name="afficher" id="field_afficher"
                           formControlName="afficher"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Annuler</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
