<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="analyseEnvirommentale">
            <h2><span>Analyse Envirommentale</span> {{ analyseEnvirommentale.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Date</span></dt>
                <dd>
                    <span>{{ analyseEnvirommentale.date }}</span>
                </dd>
                <dt><span>Processus</span></dt>
                <dd>
                    <span>{{ analyseEnvirommentale.processus }}</span>
                </dd>
                <dt><span>Business Unit</span></dt>
                <dd>
                    <span>{{ analyseEnvirommentale.businessUnit }}</span>
                </dd>
                <dt><span>Activite</span></dt>
                <dd>
                    <span>{{ analyseEnvirommentale.activite }}</span>
                </dd>
                <dt><span>Aspect Environnemental</span></dt>
                <dd>
                    <span>{{ analyseEnvirommentale.aspectEnvironnemental }}</span>
                </dd>
                <dt><span>Impact Environnemental</span></dt>
                <dd>
                    <span>{{ analyseEnvirommentale.impactEnvironnemental }}</span>
                </dd>
                <dt><span>Competences Requises</span></dt>
                <dd>
                    <span>{{ analyseEnvirommentale.competencesRequises }}</span>
                </dd>
                <dt><span>Situation</span></dt>
                <dd>
                    <span>{{ analyseEnvirommentale.situation }}</span>
                </dd>
                <dt><span>Frequence</span></dt>
                <dd>
                    <span>{{ analyseEnvirommentale.frequence }}</span>
                </dd>
                <dt><span>Sensibilite Milieu</span></dt>
                <dd>
                    <span>{{ analyseEnvirommentale.sensibiliteMilieu }}</span>
                </dd>
                <dt><span>Coefficient Maitrise</span></dt>
                <dd>
                    <span>{{ analyseEnvirommentale.coefficientMaitrise }}</span>
                </dd>
                <dt><span>Gravite</span></dt>
                <dd>
                    <span>{{ analyseEnvirommentale.gravite }}</span>
                </dd>
                <dt><span>Criticite</span></dt>
                <dd>
                    <span>{{ analyseEnvirommentale.criticite }}</span>
                </dd>
                <dt><span>Maitrise Existante</span></dt>
                <dd>
                    <span>{{ analyseEnvirommentale.maitriseExistante }}</span>
                </dd>
                <dt><span>Origine</span></dt>
                <dd>
                    <span>{{ analyseEnvirommentale.origine }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/analyse-envirommentale', analyseEnvirommentale.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
