<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-analyse-envirommentale-heading">Créer ou mettre à jour Analyse Envirommentale</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_date">Date</label>
                    <div class="input-group">
                        <input required id="field_date" type="text" class="form-control" name="date" ngbDatepicker #dateDp="ngbDatepicker" formControlName="date"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_processus">Processus</label>
                    <select required class="form-control" name="processus" formControlName="processus" id="field_processus">
                        <option *ngFor="let pro of pros" value={{pro}}>{{pro}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_businessUnit">Business Unit</label>
                    <input required type="text" class="form-control" name="businessUnit" id="field_businessUnit"
                           formControlName="businessUnit"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_activite">Activite</label>
                    <input required type="text" class="form-control" name="activite" id="field_activite"
                           formControlName="activite"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_aspectEnvironnemental">Aspect Environnemental</label>
                    <input required type="text" class="form-control" name="aspectEnvironnemental" id="field_aspectEnvironnemental"
                           formControlName="aspectEnvironnemental"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_impactEnvironnemental">Impact Environnemental</label>
                    <input required type="text" class="form-control" name="impactEnvironnemental" id="field_impactEnvironnemental"
                           formControlName="impactEnvironnemental"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_competencesRequises">Competences Requises</label>
                    <input type="text" class="form-control" name="competencesRequises" id="field_competencesRequises"
                           formControlName="competencesRequises"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_situation">Situation</label>
                    <select required class="form-control" name="situation" formControlName="situation" id="field_situation">
                        <option value="Normale">Normale</option>
                        <option value="Anormale">Anormale</option>
                        <option value="Urgence">Urgence</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_frequence">Frequence</label>
                    <select required class="form-control" name="frequence" formControlName="frequence" id="field_frequence">
                        <option value="ONE">1</option>
                        <option value="TWO">2</option>
                        <option value="THREE">3</option>
                        <option value="FOUR">4</option>
 
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_sensibiliteMilieu">Sensibilite Milieu</label>
                    <select required class="form-control" name="sensibiliteMilieu" formControlName="sensibiliteMilieu" id="field_sensibiliteMilieu">
                        <option value="ONE">1</option>
                        <option value="TWO">2</option>
                        <option value="THREE">3</option>
                        <option value="FOUR">4</option>

                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_coefficientMaitrise">Coefficient Maitrise</label>
                    <select required class="form-control" name="coefficientMaitrise" formControlName="coefficientMaitrise" id="field_coefficientMaitrise">
                        <option value="ONE">1</option>
                        <option value="TWO">2</option>
                        <option value="THREE">3</option>
                        <option value="FOUR">4</option>

                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_gravite">Gravite</label>
                    <select required class="form-control" name="gravite" formControlName="gravite" id="field_gravite">
                        <option value="ONE">1</option>
                        <option value="TWO">2</option>
                        <option value="THREE">3</option>
                        <option value="FOUR">4</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_criticite">Criticite</label>
                    <input required type="number" class="form-control" name="criticite" id="field_criticite"
                           formControlName="criticite"   readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_maitriseExistante">Maitrise Existante</label>
                    <input type="text" class="form-control" name="maitriseExistante" id="field_maitriseExistante"
                           formControlName="maitriseExistante"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_origine">Origine</label>
                    <input type="hidden" class="form-control" name="origine" id="field_origine"
                           formControlName="origine" value = "Analyse_Environnementale"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Annuler</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
