<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="autreAction">
            <h2><span>Autre Action</span> {{ autreAction.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Processus</span></dt>
                <dd>
                    <span>{{ autreAction.processus }}</span>
                </dd>
                <dt><span>Origine Action</span></dt>
                <dd>
                    <span>{{ autreAction.origineAction }}</span>
                </dd>
                <dt><span>Origine</span></dt>
                <dd>
                    <span>{{ autreAction.origine }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Retour</span>
            </button>

            <button type="button"
                    [routerLink]="['/autre-action', autreAction.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Mettre à jour</span>
            </button>
        </div>
    </div>
</div>
