<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="nonConformite">
            <h2><span>Non Conformite</span> {{ nonConformite.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Date</span></dt>
                <dd>
                    <span>{{ nonConformite.date }}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{ nonConformite.description }}</span>
                </dd>
                <dt><span>Causes Potentielles</span></dt>
                <dd>
                    <span>{{ nonConformite.causesPotentielles }}</span>
                </dd>
                <dt><span>Origine</span></dt>
                <dd>
                    <span>{{ nonConformite.origine }}</span>
                </dd>
                <dt><span>Action</span></dt>
                <dd>
                    <div *ngIf="nonConformite.action">
                        <a [routerLink]="['/action', nonConformite.action?.id, 'view']">{{ nonConformite.action?.action }}</a>
                    </div>
                </dd>
                <dt><span>Delegue</span></dt>
                <dd>
                    {{ nonConformite.delegue?.login }}
                </dd>
                <dt><span>Processus</span></dt>
                <dd>
                    <div *ngIf="nonConformite.processus">
                        <a [routerLink]="['/processus-smi', nonConformite.processus?.id, 'view']">{{ nonConformite.processus?.processus }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/non-conformite', nonConformite.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
