<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-objectif-heading">Créer ou mettre à jour Objectif</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_processus">Processus</label>
                    <input type="text" class="form-control" name="processus" id="field_processus"
                           formControlName="processus"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_axedelapolitiqueqse">Axedelapolitiqueqse</label>
                    <input type="text" class="form-control" name="axedelapolitiqueqse" id="field_axedelapolitiqueqse"
                           formControlName="axedelapolitiqueqse"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_objectifqse">Objectifqse</label>
                    <input type="text" class="form-control" name="objectifqse" id="field_objectifqse"
                           formControlName="objectifqse"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_indicateur">Indicateur</label>
                    <input type="text" class="form-control" name="indicateur" id="field_indicateur"
                           formControlName="indicateur"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_origine">Origine</label>
                    <input type="text" class="form-control" name="origine" id="field_origine"
                           formControlName="origine"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Annuler</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
